.fridge-err span {
    font-size: 14px;
    color: #852121;
  }
  // .fridge-err.ng-star-inserted {
  //   position: absolute;
  //   bottom: -24px;
  //   left: 0;
// }
.is-invalid{
  border-color: #f4516c;
  -webkit-box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .25);
  box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .25)
}



.dropdown-toggle {
  border: 2px solid#d4d4d4;
  color: #f30c0c;
  font-size: 16px;
  padding: 10px 20px;
  border-radius:18px;
  &::after {
    content: none;
  }
  &:hover {
    color:#ffff;
    background:#d4d4d4;
    border: 2px solid#d4d4d4;
  }
}
.dropdown-menu {
  border-radius:20px;
  padding: 20px 0;
  width: 239px;
  top: calc(100% - -7px);
  box-shadow : 0px 0px 21px #4429051a;
  border: none;
  .pop-arrow {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 40px;
    top: -10px;
  }
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
color: #16181b;
text-decoration: none;
background-color: #e9ecef;
}
