

<div class="bg_rings">
    <div class="container homepage">
        <header>
            <a href="https://bundles.finance/" class="logo">
                <span class="color_blue">bundles</span>
                <span class="color_dark">finance</span>
            </a>
        </header>
        <section class="hero_section">
            <h1>Use crypto-prediction skills,<br /> <span class="color_blue">Earn APY.</span></h1>
       
            <p class="subtitle">
                Join our Staking Pools and compete against users to<br />
                earn as much as <span class="color_blue"> 39.6% </span>
                over 48 hours in returns.
            </p>
            <a href="index" class="call_to_action blue_hover mb-3">Launch App
                <img class="hw" src="../../assets/images/eth.png" alt="" />
            </a>
            <a href="rsk-index" class="call_to_action blue_hover ">Launch App RSK
                <img class="hw" src="../../assets/images/rsk.png" alt="" />
            </a>
        <br>
            <a target="_blank" style="max-width: 400px;" href="https://www.youtube.com/watch?v=TZBvSopXsN4" class="call_to_action blue_hover">Watch our How to stake video
                <img src="../../assets/images/play-arrow-white.svg" alt="" />
            </a>
        </section>
    </div>
    <section class="features">
        <div class="container features_content">
            <img class="img-fluid" src="../../assets/images/bundles.svg" alt="">
            <h2>Bundles is an innovative DEFI project challenging token holders against each other to own the most
                <span class="color_blue">$BUND</span>.
            </h2>
            <p>
                Built on the Ethereum Blockchain (ERC-20), it features Staking mechanisms to allow token holders to
                use their Crypto prediction skills to choose which cryptocurrencies will perform best over a variety
                of staking periods.
            </p>
        </div>
    </section>
    <section class="about_bundles">
        <div class="container about_bundles_content">
            <h2 class="big_title">All about Bundles</h2>
            <p>Out of 10 popular cryptocurrencies, $BUND token holders can choose to stake their tokens on a single
                asset or a ‘Bundle’ of assets (yes, that’s where the name came from!) to achieve the highest returns
                during the staking period. We offer low risk and high risk pools to meet your risk profile.</p>
        </div>
    </section>
    <section class="bundale_types">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="big_title">Bundle types</h2>
                    <p class="bundale_types_desc">Choose from any of our three bundles.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="bundale_types_block">
                    <div class="bundale_types_block_content">
                        <img src="../../assets/images/low-risk-bundle.svg" alt="">
                        <h2 class="bundale_types_block_title">Low-risk Bundles</h2>
                     
                        <a href="low-risk" class="color_blue">View low-risk Bundles</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bundale_types_block">
                    <div class="bundale_types_block_content">
                        <img src="../../assets/images/high-risk-bundle.svg" alt="">
                        <h2 class="bundale_types_block_title">High-risk Bundles</h2>
                       
                        <a href="high-risk" class="color_green">View high-risk Bundles</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="bundale_types_block mt-4">
                    <div class="bundale_types_block_content full">
                        <div class="row">
                            <div class="col-lg-6 left_side">
                                <img src="../../assets/images/liquidity-pool.svg" alt="">
                            </div>
                            <div class="col-lg-4 right_side">
                                <h2 class="bundale_types_block_title">Liquidity Pool</h2>
                               
                                <a href="liquidity-pool" class="color_blue">Join the Pool</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   

    <section class="bundale_types">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="big_title">Meet our Founders</h2>
                    <p class="bundale_types_desc">Bundles was founded and built by Simon Lewis and Sid Bouziane, two
                        experienced crypto project founders. Simon and Sid founded Elevate Health in 2018 and received
                        significant crypto VC backing and continue to build the Elevate project to fruition. In 2020,
                        they started building the Bundles Platform and are happy to be one of the only public facing
                        teams in the DEFI space, providing accountability and safety to investors.</p>

                        <div class="text-right">
                            - Simon Lewis and Sid Bouziane
                        </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                
            </div>

            <h3 class="mt-5">Links</h3>
            <div class="container">
                <div class="row">
                    <ul class="social_media">
                        <li>
                            <a href="https://t.me/BundlesFinanceDefi" target="_blank">
                                <span class="icon"><img src="../../assets/images/telegram.png" alt=""></span>
                                <span class="label">Telegram Announcements</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/BundlesFinanceDiscussion" target="_blank">
                                <span class="icon"><img src="../../assets/images/telegram.png" alt=""></span>
                                <span class="label">Telegram Discussion </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://medium.com/@bundles.finance" target="_blank">
                                <span class="icon"><img src="../../assets/images/medium.png" alt=""></span>
                                <span class="label">Medium</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BundlesFinance" target="_blank">
                                <span class="icon"><img src="../../assets/images/twitter.png" alt=""></span>
                                <span class="label">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coingecko.com/en/coins/bundles" target="_blank">
                                <span class="icon"><img src="../../assets/images/coingecko.webp" alt=""></span>
                                <span class="label">CoinGecko</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://coinmarketcap.com/currencies/bundles/" target="_blank">
                                <span class="icon"><img src="../../assets/images/coinmarketcap.png" alt=""></span>
                                <span class="label">CoinMarketCap</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://app.uniswap.org/#/swap?inputCurrency=0x8d3e855f3f55109d473735ab76f753218400fe96"
                                target="_blank">
                                <span class="icon"><img src="../../assets/images/uniswap.png" alt=""></span>
                                <span class="label">Uniswap</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <ul class="social_media">
                        <li>
                            <a href="https://bit.ly/2MxOsWC" target="_blank">
                                <span class="icon"><img src="../../assets/images/medium.png" alt=""></span>
                                <span class="label">Tokenomics</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC9mrNsIf11EJ7oIkaDuX9FQ" target="_blank">
                                <span class="icon"><img src="../../assets/images/youtube.jpeg" alt=""></span>
                                <span class="label">Join our channel</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>

</div>