<header class="dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
                <a href="index" class="logo">
                    <span class="color_blue">bundles</span>
                    <span class="color_white">finance</span>
                </a>
                <div class="right_side_link">

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="bundles_connectBox text-center">
        <div class="f28-400 mb-4">You need an Ethereum wallet<br />
            to use bundle.finance.</div>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="mb-4 bg-white connectBox">
                <div class="connectBoxImg">
                    <img src="./../../../assets/images/metamask.svg" alt="metamask" width="120px" />
                </div>
                <button type="button" class="bundles_blueBtn w-100" (click)="onClickGetMetamask()">Get MetaMask</button>
            </div>
            <div class="mb-4 bg-white connectBox">
                <div class="connectBoxImg">
                    <img src="./../../../assets/images/GetLiquality.png" alt="metamask" width="110px" />
                </div>
                <button type="button" class="bundles_blueBtn w-100" (click)="onClickGetMetamask()">Get
                    Liquality</button>
            </div>
        </div>
        <button type="button" class="bf_breadcrumb"><span>Use a different wallet</span></button>
    </div>
</div>