<div class="bg_rings">
    <div class="container">
        <header>
            <a href="https://bundles.finance/" class="logo">
                <span class="color_blue">bundles</span>
                <span class="color_dark">finance</span>
            </a>
        </header>
        <div class="py_100">
            <span class="bf_breadcrumb">
                <a href="https://bundles.finance/">Welcome, let's get started</a>
            </span>
            <h2>Pick a Bundle</h2>
            <p>Choose from any of our three bundles. </p>

            <div class="row">
                <div class="col-lg-4 pick_bundle_block">
                    <a href="rsk-low-risk" class="pick_bundle_detail">
                        <img src="../../assets/images/low-risk-bundle1.svg" alt="">
                        <div class="pick_bundle_title">Low-risk Bundles</div>
                        <div class="pick_bundle_desc">Stake in our low risk 72 hour pool and earn rewards.

                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <div class="col-lg-4 pick_bundle_block">
                    <a href="rsk-high-risk" class="pick_bundle_detail">
                        <img src="../../assets/images/high-risk-bundle1.svg" alt="">
                        <div class="pick_bundle_title">High-risk Bundles</div>
                        <div class="pick_bundle_desc">Higher the risk, higher the rewards. 48 hour pool to show your
                            skills.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <!-- <div class="col-lg-4 pick_bundle_block">
                    <a href="rsk-liquidity-pool" class="pick_bundle_detail">
                        <img src="../../assets/images/liquidity-pool.svg" alt="">
                        <div class="pick_bundle_title">Liquidity Pool</div>
                        <div class="pick_bundle_desc">Earn rewards by depositing rBUND-RBTC to the liquidity pool.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
               -->

          
            </div>
        </div>
    </div>
</div>
