<header class="dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 justify-content-end">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="https://bundles.finance/" class="logo">
                        <span class="color_blue">bundles</span>
                        <span class="color_white">finance</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
          
                        </ul>
                    </div>
                    <div class="right_side_link">
                        
                    </div>
                </nav>


            </div>
        </div>
    </div>
</header>
<div class="container py_100 cmngsn pt-4">
    <div class="row">
        <div class="col-sm-8 sm_brdcrmb">
            <span class="bf_breadcrumb mr-3">
                <a href="index">Sell</a>
            </span>
            <button class="btn btn-sell" data-toggle="modal" data-target="#SellModal">+</button>
        </div>
        <div class="col-sm-4 text-right mt-3">
            <select class="srtslct">
                <option>Sort by</option>
                <option>Name</option>
                <option>Size</option>
            </select>
        </div>
        <div class="col-xl-12 mt-5">
            <div class="row">
                
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5 fr_mr_wdt">
                    <a href="#" class="as_nft_bx">
                        <img src="./assets/images/new1.png" class="img-fluid" alt="">
                        <div class="as_in_nft_bx">
                            <h6>Unstoppable Domains</h6>
                            <h4>eth2eth.crypto</h4>
                            <p>Lorem ipsum dolor sit consectetur lorem adipiscing dorem consectetur pretium</p>
                            <h5>Price: 10 BundNFT</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        

    </div>
</div>

<!-- Sell Modal -->
<div class="modal fade defmodal" id="SellModal" tabindex="-1" role="dialog" aria-labelledby="SellModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeas" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h2>Sell RateNFT</h2>
                <form name="registerForm">
                    
                    <div class="custom_range mb-4">
                        <p class="fs_16 color_blue mb-2">Quantity</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="custom_range mb-4">
                        <p class="fs_16 color_blue mb-2">Price (each)</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="custom_range mb-4">
                        <p class="fs_16 color_blue mb-2">Total</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="custom_range">
                        <p class="fs_14 color_dark mb-2 mt-3"><b>Fee:</b> All the time of sale following fee will be deducted.</p>
                        <p class="fs_14 color_dark mb-0"><b>To BundPlatform $152.0510 (0.6%)</b></p>
                        <p class="fs_14 color_dark mb-3"><b>Total $182.0510 (0.6%)</b></p>
                    </div>
                    <div class="mt-3">
                        <button class="btn_custom blue w-100">Post Your Listing</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>