<header class="dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 justify-content-end">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a href="https://bundles.finance/" class="logo">
                        <span class="color_blue">bundles</span>
                        <span class="color_white">finance</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                        
                        </ul>
                    </div>
                    <div class="right_side_link">
                       
                    </div>
                </nav>


            </div>
        </div>
    </div>
</header>

<!-- if -----login true -->
<div class="sub_header h-auto" >
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 offset-lg-2">
               <div class="mt-100 text-right">
                    <h6 class="top_h6">BundNFT : 54000.00</h6>
                    <h6 class="top_h6">RareNFT : 4</h6>
               </div>
                <div class="sub_header_block h-auto sub_header_block_v2 mt-0">
                    
                    <div class="d-flex">
                        <img style="max-height: 380px; max-width: 350px;"
                            src="./assets/images/nftstkng_img.jpg"
                            class="img-fluid rsp_w_100" alt="" />
                        <div class="nft_r_stng align-items-end d-flex">
                            <div class="w-100">
                                <div class="pdng_bx">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <h4>Rare NFT</h4>
                                            <h6 class="mb-3">ID : <span>0</span></h6>
                                            <h6 class="mb-3">Price : <span>200 bundsNFT</span></h6>
                                            <h6 class="mb-3">Copies : <span>12</span></h6>
                                            <h6 class="mb-5">Short Description : <span>"DOT vs ETH"</span></h6>
                                            <!-- ( $163,613.00 ) -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-6 p-0">
                                        <a href="javascript:;" class="call_to_action blue_txt" data-toggle="modal" data-target="#ClaimNow">Claim Now
                                            <img src="./assets/images/right-arrow-blue.svg" alt="" />
                                        </a> 
                                    </div>
                                    <div class="col-6 p-0">
                                        <a href="javascript:;" class="call_to_action blue">Buy Now
                                            <img src="./assets/images/right-arrow-white.svg" alt="" />
                                        </a>           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info_box">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 offset-lg-2">
                <div class="infowtbx">
                    <div class="row infocntn">
                        <div class="col-md-5 text-right">
                            <label>Long Description :</label>
                        </div>
                        <div class="col-md-7">
                            <p>Who will become the dominant smart contract platform in future.</p>
                        </div>
                        <div class="col-md-5 text-right">
                            <label>Chain Info :</label>
                        </div>
                        <div class="col-md-7">
                            <p>
                                Contract Address: 
                                <span>0xb47e...3bbb</span>
                                <br>
                                Blockchain: <b>Ethereum</b>
                            </p>
                        </div>
                        <div class="col-md-5 text-right">
                            <label>Ownership Details :</label>
                        </div>
                        <div class="col-md-7">
                            <p>
                                Owner By: <span>0x......CA2026</span>
                                <br>
                                Owner By: <span>0x......CA2026</span>
                                <br>
                                Owner By: <span>0x......CA2026</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Claim Modal -->
<div class="modal fade defmodal" id="ClaimNow" tabindex="-1" role="dialog" aria-labelledby="ClaimNowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeas" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h2 class="mb-5">Claim RareNFT</h2>
                <div>
                    <div class="mb-5 mt-5">
                        <button  class="btn_custom blue w-100">Approve</button>
                    </div>
                    <div class="mb-4">
                        <button  class="btn_custom blue w-100" data-dismiss="modal" data-toggle="modal" data-target="#TransferModal">Transfer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Transfer -->
<div class="modal fade defmodal" id="TransferModal" tabindex="-1" role="dialog" aria-labelledby="TransferModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeas" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h2>Transfer RareNFT</h2>
                <form name="registerForm">
                    <div class="custom_range mb-4 mt-5 text-center">
                        <img src="./assets/images/trnsfr_img.png" class="img-fluid" alt="" />
                    </div>
                    <div class="custom_range mb-3">
                        <p class="fs_16 color_blue mb-2">Quantity</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="custom_range">
                        <p class="fs_16 color_blue mb-2">Wallet address or ENS Name</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="mt-3">
                        <p class="fs_16 pt-3">A piece of description for the next step goes here.</p>
                        <button href="https://bundles.finance/" class="btn_custom blue w-100" data-dismiss="modal" data-toggle="modal" data-target="#PurchaseModal">Transfer Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Transfer -->
<div class="modal fade defmodal" id="PurchaseModal" tabindex="-1" role="dialog" aria-labelledby="PurchaseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close closeas" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h2>Purchase RareNFT</h2>
                <form name="registerForm">
                    <div class="custom_range mb-4 mt-5">
                        <p class="fs_16 color_blue mb-2">Choose Seller</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sllr_ckbx">
                                    <input type="radio" name="saller_radio">
                                    <div class="sllrbx">
                                        <div class="sllr_img">
                                            <img src="./assets/images/sllr_img.png" alt="" />
                                        </div>
                                        <h6>0.1 ETH</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sllr_ckbx">
                                    <input type="radio" name="saller_radio">
                                    <div class="sllrbx">
                                        <div class="sllr_img">
                                            <img src="./assets/images/sllr_img.png" alt="" />
                                        </div>
                                        <h6>0.12 ETH</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sllr_ckbx">
                                    <input type="radio" name="saller_radio">
                                    <div class="sllrbx">
                                        <div class="sllr_img">
                                            <img src="./assets/images/sllr_img.png" alt="" />
                                        </div>
                                        <h6>0.15 ETH</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom_range mb-4">
                        <p class="fs_16 color_blue mb-2">Enter Quantity</p>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="custom_range">
                        <p class="fs_14 color_blue mb-1">Quantity : 1</p>
                        <p class="fs_14 color_blue mb-2">Total ETH : 0.12</p>
                    </div>
                    <div class="mt-3">
                        <p class="fs_16 pt-3">A piece of description for the next step goes here.</p>
                        <button class="btn_custom blue w-100">Finalize Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>