<!--header-->
<header class="dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-between align-items-center">
                <a href="index" class="logo">
                    <span class="color_blue">bundles</span>
                    <span class="color_white">finance</span>
                </a>
                <div class="right_side_link">
                    <a href="/NFT/account"><img src="./../../../assets/images/user.svg" alt=""></a>

                </div>
            </div>
        </div>
    </div>
</header>
<!--contents-->
<div class="container">
    <div class="common_scn pt-3">
        <div class="d-flex align-items-center justify-content-between py-2 mb-3">
            <div class="pl-4">
                <span class="bf_breadcrumb crate_arrw"><a href="/nft/create" class="f28-500">Create new item</a></span>
            </div>
        </div>
        <div class="white_bx_scn p-3 min-height-82vh">
            <div class="row pt-4 pb-4">
                <div class="col-md-12">
                    <form class="text-center">
                        <h4 class="fs_20 fw-m mb-4"><span class="color_blue">ItemName</span> has been created!</h4>
                        <img src="./../../../assets/images/item.png" alt="" />
                        <div class="text-center pt-4">
                            <button class="bundles_blueBtn px-5 mr-3" type="button">Sell</button>
                            <button class="bundles_outlineblueBtn px-5" type="button">Auction</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>