<div class="bg_rings">
    <div class="container">
        <header>
            <a href="https://bundles.finance/" class="logo">
                <span class="color_blue">bundles</span>
                <span class="color_dark">finance</span>
            </a>
        </header>
        <div class="py_100">
            <span class="bf_breadcrumb">
                <a href="https://bundles.finance/">Welcome, let's get started</a>
            </span>
            <h2>Pick a Bundle</h2>
            <p>Choose from any of our three bundles. </p>

            <div class="row">
                <div class="col-lg-4 pick_bundle_block">
                    <a href="low-risk" class="pick_bundle_detail">
                        <img src="../../assets/images/low-risk-bundle1.svg" alt="">
                        <div class="pick_bundle_title">Low-risk Bundles</div>
                        <div class="pick_bundle_desc">Stake in our low risk 72 hour pool and earn rewards.

                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <div class="col-lg-4 pick_bundle_block">
                    <a href="high-risk" class="pick_bundle_detail">
                        <img src="../../assets/images/high-risk-bundle1.svg" alt="">
                        <div class="pick_bundle_title">High-risk Bundles</div>
                        <div class="pick_bundle_desc">Higher the risk, higher the rewards. 48 hour pool to show your
                            skills.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <div class="col-lg-4 pick_bundle_block">
                    <a href="javascript:;" data-toggle="modal" data-target="#withdraw_modal" class="pick_bundle_detail">
                        <img src="../../assets/images/liquidity-pool.svg" alt="">
                        <div class="pick_bundle_title">Liquidity Pool</div>
                        <div class="pick_bundle_desc">Earn rewards by depositing BUND-ETH to the liquidity pool.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <!-- <div class="col-lg-4 pick_bundle_block">
                    <a href="javascript:;" class="pick_bundle_detail">
                        <img src="../../assets/images/nft_marketplace.svg" alt="">
                        <div class="pick_bundle_title">NFT Marketplace</div>
                        <div class="pick_bundle_desc">Description for NFT Marketplace goes here in this space.</div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div> -->
                <div class="col-lg-4 pick_bundle_block">
                    <a href="NFT-staking" class="pick_bundle_detail">
                        <img src="../../assets/images/bund_nft_staking.svg" alt="">
                        <div class="pick_bundle_title">Bund Staking - NFT </div>
                        <div class="pick_bundle_desc">Earn BUNDNFT by depositing Bund to the Liquidity pool </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <div class="col-lg-4 pick_bundle_block">
                    <a href="NFT-ETH-staking" class="pick_bundle_detail">
                        <img src="../../assets/images/bund_nft_staking.svg" alt="">
                        <div class="pick_bundle_title">Bund-ETH LP Staking - NFT </div>
                        <div class="pick_bundle_desc">Earn BUNDNFT by depositing Bund-ETH LP to the Liquidity pool.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>

                <div class="col-lg-4 pick_bundle_block">
                    <a href="NFT-marketplace" class="pick_bundle_detail">
                        <img src="../../assets/images/bund_nft_staking.svg" alt="">
                        <div class="pick_bundle_title">Bundles NFT Collection
                        </div>
                        <div class="pick_bundle_desc">Designed by notable creators, our collection focuses on the 8 cryptocurrencies available in our prediction pools. Purchase here using your $BUNDNFT</div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>

                <div class="col-lg-4 pick_bundle_block">
                    <a href="javascript:;" data-toggle="modal" data-target="#NFTMarketplace_modal"
                        class="pick_bundle_detail">
                        <img src="../../assets/images/bund_nft_staking.svg" alt="">
                        <div class="pick_bundle_title">NFT - Marketplace</div>
                        <div class="pick_bundle_desc">A boutique platform for high level, established artists to launch NFTs and for buyers to source quality NFTs. </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="withdraw_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <!-- <p class="title"> <img src="./images/bitcoin.png" alt="">Bitcoin </p> -->
                <h2>Choose from the following?</h2>
                <!-- <div class="col-lg-12 pick_bundle_block">
                    <a href="liquidity-pool" class="pick_bundle_detail">
                        <img src="../../assets/images/liquidity-pool.svg" alt="">
                        <div class="pick_bundle_title">Old Liquidity Pool</div>
                        <div class="pick_bundle_desc">Earn rewards by depositing BUND-ETH to the liquidity pool.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div>
                <div class="col-lg-12 pick_bundle_block">
                    <a  class="pick_bundle_detail">
                        <img src="../../assets/images/liquidity-pool.svg" alt="">
                        <div class="pick_bundle_title">New Liquidity Pool</div>
                        <div class="pick_bundle_desc">Earn rewards by depositing BUND-ETH to the liquidity pool.
                        </div>
                        <div class="right_arrow"><img src="../../assets/images/right-arrow.svg" alt=""></div>
                    </a>
                </div> -->

                <a href="liquidity-pool" class="call_to_action blueBtn">Dec Liquidity Pool
                    <img src="../../assets/images/right-arrow.svg" alt="" />
                </a>

                <a href="liquidity-pool-N" class="call_to_action blueBtn">Jan Liquidity Pool
                    <img src="../../assets/images/right-arrow.svg" alt="" />
                </a>
                <a href="liquidity-pool-New" class="call_to_action blueBtn">Feb Liquidity Pool <img
                        src="../../assets/images/right-arrow.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>


<!--NFT marketplace-->
<div class="modal fade" id="NFTMarketplace_modal" tabindex="-1" role="dialog"
    aria-labelledby="NFTMarketplace_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <img src="./../../assets/images/bundlesfinance.png" alt="logo" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="fs_46 font-weight-bold text-center">The Largest NFT Marketplace</div>
                <div class="fs_16 color_gray text-center mb-4">Buy, sell, and discover rare digital items</div>
                <a href="/NFT/connect/market" class="bundles_blueBtn w-100 mb-2">Explore Marketplace </a>
                <a href="/NFT/connect/create" class="bundles_outlineblueBtn w-100 mb-2">Create </a>
            </div>
        </div>
    </div>
</div>